// _variaveis.scss

$rosa: #e7a4ca;
$azul: rgb(77, 164, 175);

// Diz ao Bootstrap pra usar SUAS cores como primary/secondary
$primary:   $azul;
$secondary: $rosa;

$font-family-base: 'Poppins', sans-serif;

